.home-container {
  /*background-image: url('https://images.unsplash.com/photo-1509042239860-f550ce710b93');*/
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Toda la altura de la ventana */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-content {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
}

.home-content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
}
